@font-face {
  font-family: "fw-700";
  src: url("../font/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "fw-500";
  src: url("../font/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "fw-400";
  src: url("../font/Inter-Regular.ttf") format("truetype");
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: "fw-400";
  font-size: 14px;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: #303030;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
}

.prevent-scroll {
  overflow: hidden;
}

.wrapper {
  max-width: 1920px;
  margin: auto;
}

.container {
  max-width: 1400px;
  width: 1440px;
  margin: auto;
}

@media (max-width: 1490px) {
  .container {
    width: 1150px;
    max-width: 1150px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
    max-width: 960px;
  }
}
@media (max-width: 1023px) {
  .container {
    width: calc(100% - 120px);
    max-width: calc(100% - 120px);
  }
}
@media (max-width: 739px) {
  .container {
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none !important;
  }
}
/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none !important;
  }
}
.index__main__center__item__img {
  transition: transform 0.3s ease;
}
.index__main__center__item__img:hover {
  transform: scale(1.3);
}

.news__top__left__img, .news__top__center__item__img,
.news__top__right__item__img, .news__bottom__left__top__item__img,
.newsItemBottom__box__img, .newsSidebar__item__img {
  transition: transform 0.3s ease;
}
.news__top__left__img:hover, .news__top__center__item__img:hover,
.news__top__right__item__img:hover, .news__bottom__left__top__item__img:hover,
.newsItemBottom__box__img:hover, .newsSidebar__item__img:hover {
  box-shadow: 4px 9px 38px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 9px 38px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 9px 38px -6px rgba(0, 0, 0, 0.75);
  transform: scale(1.01);
}

.news__top__left__title, .news__top__center__item__title,
.news__top__right__item__title, .news__bottom__left__top__item__title,
.newsItemBottom__box__text__title, .newsSidebar__item__title {
  transition: transform 0.3s ease;
}
.news__top__left__title:hover, .news__top__center__item__title:hover,
.news__top__right__item__title:hover, .news__bottom__left__top__item__title:hover,
.newsItemBottom__box__text__title:hover, .newsSidebar__item__title:hover {
  color: rgb(26, 114, 228);
  transform: scale(1.01);
}

.video__content__item__overlay {
  transition: 0.3s all;
}
.video__content__item__overlay:hover {
  opacity: 1;
}

.videoDetails__top__left__overlay,
.videoDetails__top__right__item__overlay {
  transition: 0.3s all;
}
.videoDetails__top__left__overlay:hover,
.videoDetails__top__right__item__overlay:hover {
  opacity: 1;
}

.btn--order {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #162E4D;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
}
.btn--order:hover {
  background-color: rgba(22, 46, 77, 0.8);
}

.btn--more {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #303030;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}
.btn--more i {
  color: #303030;
  font-family: Font Awesome 6 Free;
  font-size: 8px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.btn--more--mtlr30 {
  width: calc(100% - 60px);
  margin: 30px 30px 0 30px;
}
.btn--more:hover {
  background-color: rgba(48, 48, 48, 0.4);
}
@media (min-width: 740px) and (max-width: 1024px) {
  .btn--more {
    padding: 10px;
    font-size: 16px;
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.breadcrumb__item {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  color: #303030;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
@media (max-width: 411px) {
  .breadcrumb {
    display: none;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .breadcrumb {
    margin-top: 20px;
  }
  .breadcrumb__item {
    font-size: 16px;
    padding: 0;
  }
}

.pagination {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background-color: #FFFFFF;
}
.pagination a {
  padding: 15px 20px;
  background: #162E4D;
  color: #FFFFFF;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.pagination a:hover {
  background-color: rgba(22, 46, 77, 0.8);
}
@media (max-width: 411px) {
  .pagination a {
    padding: 5px 10px;
    font-size: 14px;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .pagination a {
    padding: 5px 10px;
    font-size: 14px;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .pagination a {
    padding: 5px 10px;
    font-size: 14px;
  }
}

.navbar {
  display: flex;
  margin-top: 30px;
  padding: 20px;
  background: #162E4D;
}
.navbar a {
  color: #FFFFFF;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.navbar a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.navbar--drop {
  cursor: pointer;
}
.navbar__sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
@media (max-width: 411px) {
  .navbar {
    flex-direction: column;
  }
  .navbar a:not(.navbar--drop) {
    display: none;
  }
  .navbar a {
    font-size: 16px;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .navbar {
    flex-direction: column;
  }
  .navbar a:not(.navbar--drop) {
    display: none;
  }
  .navbar a {
    font-size: 16px;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .navbar {
    margin-top: 20px;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .navbar {
    margin-top: 0;
  }
  .navbar a {
    padding: 10px;
    font-size: 16px;
  }
}

.address {
  display: flex;
  margin-top: 30px;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  height: 500px;
  align-self: stretch;
  background: url("../../img/0b6ef4634881383992908b86518d2b9d.png") lightgray -50px 0px/104.01% 100% no-repeat;
}
.address__details {
  display: flex;
  width: 349px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #303030;
  background: #FFFFFF;
}
.address__details__header {
  display: flex;
  padding: 15px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #162E4D;
  color: #FFFFFF;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.address__details__body {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
}
.address__details__body__item {
  display: flex;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.address__details__body__item--header {
  color: #303030;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.address__details__body__item--content {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
@media (max-width: 411px) {
  .address__details__header {
    justify-content: space-between;
  }
  .address__details__header::after {
    content: "\f078";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px;
    color: #FFFFFF;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .address__details__header {
    justify-content: space-between;
  }
  .address__details__header::after {
    content: "\f078";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px;
    color: #FFFFFF;
  }
}
@media (max-width: 411px) {
  .address {
    height: 450px;
    background: url("../../img/0b6ef4634881383992908b86518d2b9d.png") lightgray -348.924px 0px/414.116% 100%;
  }
  .address__details {
    width: 100%;
    border-radius: 5px;
  }
  .address__details__header {
    padding: 5px 10px;
    gap: 10px;
    border-radius: 5px;
    font-size: 18px;
  }
  .address__details__body__item {
    padding: 5px 10px;
    gap: 10px;
  }
  .address__details__body__item--header {
    font-size: 16px;
  }
  .address__details__body__item--content {
    font-size: 14px;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .address {
    height: 550px;
    background: url("../../img/0b6ef4634881383992908b86518d2b9d.png") lightgray -348.924px 0px/414.116% 100%;
  }
  .address__details {
    width: 100%;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .address {
    background: url("../../img/0b6ef4634881383992908b86518d2b9d.png") lightgray 0px 0px/104.01% 100% no-repeat;
  }
  .address__details__header {
    font-size: 16px;
  }
  .address__details__body__item--header {
    font-size: 16px;
  }
  .address__details__body__item--content {
    font-size: 14px;
  }
}

.newsSidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.newsSidebar__header {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #162E4D;
}
.newsSidebar__header__text {
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.newsSidebar__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  text-decoration: none;
}
.newsSidebar__item__img {
  width: 135px;
  height: 83px;
}
.newsSidebar__item__title {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
@media (min-width: 740px) and (max-width: 1024px) {
  .newsSidebar__header {
    padding: 20px;
  }
  .newsSidebar__header__text {
    font-size: 16px;
  }
  .newsSidebar__item {
    gap: 10px;
  }
  .newsSidebar__item__img {
    width: 60px;
    height: 60px;
  }
}

.newsItemBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.newsItemBottom__box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.newsItemBottom__box__img {
  width: 444px;
  height: 264px;
}
.newsItemBottom__box__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.newsItemBottom__box__text__title {
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.newsItemBottom__box__text__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.newsItemBottom__box__text__item__box {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.newsItemBottom__box__text__item__box i {
  color: #303030;
  font-family: Font Awesome 6 Free;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 411px) {
  .newsItemBottom__box {
    flex-direction: column;
  }
  .newsItemBottom__box__img {
    width: 100%;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .newsItemBottom__box {
    flex-direction: column;
  }
  .newsItemBottom__box__img {
    width: 100%;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .newsItemBottom__box__img {
    width: 296px;
    height: 176px;
  }
  .newsItemBottom__box__text__title {
    font-size: 16px;
  }
}

hr {
  width: 100%;
  margin: 0;
  height: 1px;
}

.header {
  padding: 30px 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  gap: 15%;
}
.header__logo {
  color: #303030;
  font-family: "fw-400";
  font-size: 48px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.header__search {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #303030;
  flex: 1 0 0;
}
.header__search input {
  flex: 1 0 0;
  outline: none;
  border: none;
  background-color: #F2F2F2;
}
.header__search i {
  cursor: pointer;
}
.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  color: #303030;
  font-family: "fw-400";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.header__info__phone {
  color: #303030;
  font-family: "fw-400";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.header__info__phone i {
  color: #303030;
  font-family: Font Awesome 6 Free;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
@media (max-width: 411px) {
  .header {
    padding: 20px;
  }
  .header__logo {
    font-size: 28px;
  }
  .header__search {
    display: none;
  }
  .header__info {
    gap: 10px;
    font-size: 16px;
  }
  .header__info__phone {
    font-size: 16px;
  }
  .header__info__phone i {
    font-size: 16px;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .header {
    gap: 0;
    padding: 20px;
  }
  .header__logo {
    font-size: 28px;
  }
  .header__search {
    display: none;
  }
  .header__info {
    gap: 10px;
    font-size: 18px;
  }
  .header__info__phone {
    font-size: 18px;
  }
  .header__info__phone i {
    font-size: 14px;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .header {
    padding: 30px;
  }
  .header__logo {
    font-size: 32px;
  }
  .header__info {
    gap: 10px;
    font-size: 20px;
  }
  .header__info__phone {
    font-size: 18px;
  }
  .header__info__phone i {
    font-size: 18px;
  }
}

.to-top {
  display: inline-block;
  background-color: #162E4D;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 0px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 35px;
  color: #FFFFFF;
}
.to-top:active {
  background-color: rgba(22, 46, 77, 0.5);
}
.to-top.show {
  opacity: 1;
  visibility: visible;
}

.index__banner {
  margin-top: 30px;
  width: 100%;
  height: 540px;
  background: url("../../img/4bdde52885533016c018c04927072607.png") lightgray -2.547px -612.323px/100% 237.156% no-repeat;
}
.index__row {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.index__side {
  flex: 20%;
  padding: 0 20px;
}
.index__side__bar {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  background: #FFFFFF;
}
.index__side__bar__header {
  display: flex;
  padding: 15px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #162E4D;
  color: #FFFFFF;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.index__side__bar__content {
  display: flex;
  padding: 15px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}
.index__side__bar__content:hover {
  color: rgba(48, 48, 48, 0.7);
}
.index__side__bar--m20 {
  margin-top: 20px;
}
.index__main {
  flex: 80%;
  padding-right: 20px;
}
.index__main__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #FFFFFF;
}
.index__main__top--left {
  display: flex;
  padding: 15px 20px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #162E4D;
  color: #FFFFFF;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}
.index__main__top--left i {
  color: #FFFFFF;
  font-family: Font Awesome 6 Free;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.index__main__top--left:hover {
  background-color: rgba(22, 46, 77, 0.8);
}
.index__main__top--right {
  display: flex;
  padding: 15px 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #162E4D;
  color: #FFFFFF;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}
.index__main__top--right i {
  color: #FFFFFF;
  font-family: Font Awesome 6 Free;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.index__main__top--right:hover {
  background-color: rgba(22, 46, 77, 0.8);
}
.index__main__center {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: repeat(4, minmax(0, 1fr));
  row-gap: 5px;
  column-gap: 5px;
  background-color: #FFFFFF;
}
.index__main__center__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #303030;
  text-decoration: none;
  overflow: hidden;
}
.index__main__center__item__img {
  width: 100%;
  height: 240px;
  background: url("../../img/dbdb3613c20079c927a7fc62b2b95e09.png") lightgray 50%/cover no-repeat;
}
.index__main__center__item__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  width: 100%;
}
.index__main__center__item__details__text {
  align-self: stretch;
  text-align: center;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
}
.index__main__center__item__details__price {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
}
.index__main__center__item__details__price--new {
  color: #FF0000;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: 20px;
}
.index__main__center__item__details__price--old {
  color: #FF0000;
  text-align: right;
  font-family: "fw-700";
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
  text-decoration: line-through;
}
@media (max-width: 411px) {
  .index__banner {
    margin-top: 30px;
    width: 100%;
    height: 121px;
    background: url("../../img/4bdde52885533016c018c04927072607.png") lightgray -0.571px -137.206px/100% 237.156% no-repeat;
  }
  .index__row {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .index__dropbtn {
    position: absolute;
    top: 90px;
    display: inline-flex;
    padding: 30px 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    background: #162E4D;
  }
  .index__dropbtn::after {
    content: "\f054";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    font-weight: 900;
    line-height: normal;
    color: #FFFFFF;
  }
  .index__dropbtn__fixed {
    position: fixed;
    top: 120px;
  }
  .index__side {
    display: none;
    height: 400px;
    overflow: scroll;
    position: absolute;
    top: 90px;
    left: 25px;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
  }
  .index__side__fixed {
    position: fixed;
    top: 120px;
    left: 40px;
  }
  .index__main {
    padding: 0 10px;
    flex-direction: column;
  }
  .index__main__top {
    padding-bottom: 20px;
    border-radius: 5px;
  }
  .index__main__top--left {
    padding: 5px 10px;
    gap: 10px;
    border-radius: 5px;
    font-size: 13px;
  }
  .index__main__top--left i {
    font-size: 8px;
  }
  .index__main__top--right {
    padding: 5px 10px;
    gap: 10px;
    border-radius: 5px;
    font-size: 13px;
  }
  .index__main__top--right i {
    font-size: 8px;
  }
  .index__main__center {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 10px;
  }
  .index__main__center__item {
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
  }
  .index__main__center__item__img {
    height: 180px;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .index__banner {
    margin-top: 20px;
    width: 100%;
    height: 121px;
    background: url("../../img/4bdde52885533016c018c04927072607.png") lightgray -0.571px -137.206px/100% 237.156% no-repeat;
  }
  .index__row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .index__dropbtn {
    position: absolute;
    top: 90px;
    display: inline-flex;
    padding: 30px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 0px 15px 15px 0px;
    background: #162E4D;
  }
  .index__dropbtn::after {
    content: "\f054";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    font-weight: 900;
    line-height: normal;
    color: #FFFFFF;
  }
  .index__dropbtn__fixed {
    position: fixed;
    top: 120px;
  }
  .index__side {
    display: none;
    height: 400px;
    overflow: scroll;
    position: absolute;
    top: 90px;
    left: 40px;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
  }
  .index__side__fixed {
    position: fixed;
    top: 120px;
    left: 40px;
  }
  .index__main {
    padding: 0 15px;
    flex-direction: column;
  }
  .index__main__top {
    padding-bottom: 20px;
    border-radius: 5px;
  }
  .index__main__top--left {
    padding: 15px 20px;
    gap: 10px;
    font-size: 14px;
  }
  .index__main__top--left i {
    font-size: 8px;
  }
  .index__main__top--right {
    padding: 15px 20px;
    gap: 10px;
    font-size: 14px;
  }
  .index__main__top--right i {
    font-size: 8px;
  }
  .index__main__center {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .index__main__center__item {
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
  }
  .index__main__center__item__img {
    height: 137px;
  }
  .index__main__center__item__details__text {
    font-size: 12px;
    line-height: 16px;
  }
  .index__main__center__item__details__price--new {
    font-size: 12px;
  }
  .index__main__center__item__details__price--old {
    font-size: 8px;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .index__banner {
    height: 400px;
    background: url("../../img/4bdde52885533016c018c04927072607.png") lightgray -2.547px -390.323px/100% 237.156% no-repeat;
  }
  .index__side {
    flex: 25%;
    padding: 0 20px;
  }
  .index__side__bar__header {
    padding: 10px;
    font-size: 14px;
  }
  .index__side__bar__content {
    padding: 10px;
    gap: 10px;
    font-size: 14px;
  }
  .index__side__bar--m20 {
    margin-top: 20px;
  }
  .index__main {
    flex: 75%;
    padding-right: 20px;
  }
  .index__main__top--left {
    padding: 10px;
    font-size: 14px;
  }
  .index__main__top--right {
    padding: 10px;
    font-size: 14px;
  }
  .index__main__center {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 5px;
    column-gap: 5px;
    background-color: #FFFFFF;
  }
  .index__main__center__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #303030;
    text-decoration: none;
  }
  .index__main__center__item__img {
    height: 137px;
  }
  .index__main__center__item__details__text {
    font-size: 12px;
    line-height: 16px;
  }
  .index__main__center__item__details__price--new {
    font-size: 12px;
  }
  .index__main__center__item__details__price--old {
    font-size: 8px;
  }
}
@media (min-width: 1920px) {
  .index__main__center {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.news__top {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  gap: 20px;
}
.news__top__left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news__top__left__img {
  height: 500px;
  width: 100%;
  background: url("../../img/22a8793ef92615d9d967f5c4877b5ef1.png") lightgray -1.209px -612.323px/100% 237.156% no-repeat;
}
.news__top__left__title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.news__top__left__content {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.news__top__center {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news__top__center__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  text-decoration: none;
}
.news__top__center__item__img {
  width: 100%;
  height: 264px;
}
.news__top__center__item__title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.news__top__right {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news__top__right__header {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #162E4D;
}
.news__top__right__header__text {
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.news__top__right__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  text-decoration: none;
}
.news__top__right__item__img {
  width: 135px;
  height: 83px;
}
.news__top__right__item__title {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.news__bottom {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__bottom__left {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__bottom__left__top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  overflow: scroll;
}
.news__bottom__left__top__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 444px;
  text-decoration: none;
}
.news__bottom__left__top__item__img {
  width: 444px;
  height: 264px;
}
.news__bottom__left__top__item__title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.news__bottom__right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 411px) {
  .news__top {
    flex-direction: column;
  }
  .news__top__left {
    width: 100%;
  }
  .news__top__left__img {
    height: 400px;
    background: url("../../img/22a8793ef92615d9d967f5c4877b5ef1.png") lightgray -1.209px -500.323px/100% 237.156% no-repeat;
  }
  .news__top__center {
    width: 100%;
  }
  .news__top__right {
    width: 100%;
  }
  .news__bottom {
    flex-direction: column;
  }
  .news__bottom__left {
    width: 100%;
  }
  .news__bottom__right {
    width: 100%;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .news__top {
    flex-direction: column;
  }
  .news__top__left {
    width: 100%;
  }
  .news__top__left__img {
    height: 400px;
    background: url("../../img/22a8793ef92615d9d967f5c4877b5ef1.png") lightgray -1.209px -500.323px/100% 237.156% no-repeat;
  }
  .news__top__center {
    width: 100%;
  }
  .news__top__right {
    width: 100%;
  }
  .news__bottom {
    flex-direction: column;
  }
  .news__bottom__left {
    width: 100%;
  }
  .news__bottom__right {
    width: 100%;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .news__top {
    padding: 0 20px;
    gap: 15px;
  }
  .news__top__left__img {
    height: 380px;
  }
  .news__top__left__title {
    font-size: 16px;
  }
  .news__top__center__item__img {
    height: 180px;
  }
  .news__top__center__item__title {
    font-size: 16px;
  }
  .news__top__right__header {
    padding: 20px;
  }
  .news__top__right__header__text {
    font-size: 16px;
  }
  .news__top__right__item {
    gap: 10px;
  }
  .news__top__right__item__img {
    height: 60px;
    width: 60px;
  }
  .news__bottom {
    flex-direction: column;
  }
  .news__bottom__left {
    width: 100%;
  }
  .news__bottom__left__top__item__img {
    width: 296px;
    height: 176px;
  }
  .news__bottom__left__top__item__title {
    font-size: 16px;
  }
  .news__bottom__right {
    width: 100%;
  }
}

.video__category {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.video__category__item {
  display: flex;
  padding: 10px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.video__category__item--white {
  border: 1px solid #162E4D;
  color: #303030;
  cursor: pointer;
}
.video__category__item--white:hover {
  background-color: rgba(48, 48, 48, 0.4);
}
.video__category__item--blue {
  border: 1px solid #162E4D;
  background: #162E4D;
  color: #FFFFFF;
  cursor: pointer;
}
.video__category__item--blue:hover {
  background-color: rgba(22, 46, 77, 0.8);
}
.video__content {
  display: flex;
  padding: 0px 38px;
  margin-top: 30px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 40px;
  flex-wrap: wrap;
}
.video__content__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 24%;
}
.video__content__item__img {
  width: 100%;
  height: 264px;
  background: url("../../img/783f5f9206c58dbbe92b1d58c37630d2.png") lightgray -0.589px -299.358px/100% 237.156% no-repeat;
}
.video__content__item__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.video__content__item__text--bold {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.video__content__item__text--bold:hover {
  color: rgba(48, 48, 48, 0.5);
}
.video__content__item__text--normal {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
.video__content__item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 264px;
  background: rgba(8, 8, 8, 0.801);
  text-align: center;
  opacity: 0;
}
.video__content__item__overlay::after {
  content: "\f04b";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 100px;
  line-height: 264px;
  color: #FFFFFF;
}
@media (max-width: 411px) {
  .video__category {
    flex-direction: column;
  }
  .video__content {
    flex-direction: column;
  }
  .video__content__item {
    width: 100%;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .video__category {
    flex-direction: column;
  }
  .video__content {
    flex-direction: column;
  }
  .video__content__item {
    width: 100%;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .video__category {
    margin-top: 20px;
  }
  .video__category__item {
    font-size: 16px;
  }
  .video__content {
    padding: 0 20px;
    margin-top: 20px;
  }
  .video__content__item__img {
    height: 180px;
  }
  .video__content__item__text--bold {
    font-size: 16px;
  }
  .video__content__item__text--normal {
    font-size: 14px;
  }
  .video__content__item__overlay {
    height: 180px;
  }
  .video__content__item__overlay::after {
    font-size: 60px;
    line-height: 180px;
  }
}

.videoDetails__top {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.videoDetails__top__left {
  position: relative;
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.videoDetails__top__left__video {
  height: 450px;
  width: 100%;
}
.videoDetails__top__left__title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.videoDetails__top__left__content {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.videoDetails__top__left__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 450px;
  background: rgba(8, 8, 8, 0.801);
  text-align: center;
  opacity: 0;
}
.videoDetails__top__left__overlay::after {
  content: "\f04b";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 100px;
  line-height: 450px;
  color: #FFFFFF;
}
.videoDetails__top__right {
  width: 43%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  overflow: scroll;
}
.videoDetails__top__right__item {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.videoDetails__top__right__item__img {
  width: 250px;
  height: 176px;
}
.videoDetails__top__right__item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}
.videoDetails__top__right__item__content__title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.videoDetails__top__right__item__content__title:hover {
  color: rgba(48, 48, 48, 0.5);
}
.videoDetails__top__right__item__content__des {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-400";
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
.videoDetails__top__right__item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 176px;
  background: rgba(8, 8, 8, 0.801);
  text-align: center;
  opacity: 0;
}
.videoDetails__top__right__item__overlay::after {
  content: "\f04b";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 100px;
  line-height: 176px;
  color: #FFFFFF;
}
.videoDetails__center {
  display: flex;
  padding: 0px 40px;
  margin: 30px 0;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.videoDetails__center__content {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
@media (max-width: 411px) {
  .videoDetails__top {
    flex-direction: column;
  }
  .videoDetails__top__left {
    width: 100%;
  }
  .videoDetails__top__left__video {
    height: 300px;
    background: url("../../img/22a8793ef92615d9d967f5c4877b5ef1.png") lightgray -1.408px -410.609px/100% 237.156% no-repeat;
  }
  .videoDetails__top__right {
    width: 100%;
  }
  .videoDetails__top__right__item {
    flex-direction: column;
  }
  .videoDetails__top__right__item__img {
    width: 100%;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .videoDetails__top {
    flex-direction: column;
  }
  .videoDetails__top__left {
    width: 100%;
  }
  .videoDetails__top__left__video {
    height: 300px;
    background: url("../../img/22a8793ef92615d9d967f5c4877b5ef1.png") lightgray -1.408px -410.609px/100% 237.156% no-repeat;
  }
  .videoDetails__top__right {
    width: 100%;
  }
  .videoDetails__top__right__item {
    flex-direction: column;
  }
  .videoDetails__top__right__item__img {
    width: 100%;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .videoDetails__top {
    padding: 20px;
    margin-top: 0;
    gap: 10px;
  }
  .videoDetails__top__left {
    width: 65%;
  }
  .videoDetails__top__left__video {
    height: 350px;
  }
  .videoDetails__top__left__overlay {
    height: 350px;
  }
  .videoDetails__top__left__title {
    font-size: 18px;
  }
  .videoDetails__top__right {
    height: 350px;
    width: 35%;
  }
  .videoDetails__top__right__item {
    gap: 10px;
  }
  .videoDetails__top__right__item__img {
    height: 60px;
    width: 60px;
  }
  .videoDetails__top__right__item__overlay {
    height: 60px;
    width: 60px;
  }
  .videoDetails__top__right__item__overlay::after {
    font-size: 30px;
    line-height: 60px;
  }
  .videoDetails__top__right__item__content__title {
    font-size: 14px;
  }
  .videoDetails__top__right__item__content__des {
    font-size: 12px;
  }
  .videoDetails__center {
    margin: 0;
    padding: 0 20px;
  }
  .videoDetails__center__content {
    font-size: 18px;
  }
}

.newsDetails {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.newsDetails__left {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.newsDetails__left__title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.newsDetails__left__text {
  align-self: stretch;
  color: #000;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: 24px; /* 171.429% */
}
.newsDetails__left__img {
  height: 800px;
  align-self: stretch;
}
.newsDetails__right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
@media (max-width: 411px) {
  .newsDetails {
    flex-direction: column;
  }
  .newsDetails__left {
    width: 100%;
  }
  .newsDetails__right {
    width: 100%;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .newsDetails {
    flex-direction: column;
  }
  .newsDetails__left {
    width: 100%;
  }
  .newsDetails__right {
    width: 100%;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .newsDetails {
    margin-top: 20px;
    padding: 0 20px;
  }
}

.paymentInstructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  margin-top: 30px;
  align-self: stretch;
}
.paymentInstructions__section {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.paymentInstructions__section__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.paymentInstructions__section__title__header {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.paymentInstructions__section__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}
.paymentInstructions__section__wrap__card {
  width: 32%;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: italic;
  line-height: normal;
}
.paymentInstructions__section__wrap__card a {
  color: #303030;
  text-decoration: none;
}
.paymentInstructions__section__wrap__card__header {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.paymentInstructions__section__wrap__card__header__content {
  flex: 1 0 0;
  color: #162E4D;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.paymentInstructions__section__wrap__card__header__box {
  display: flex;
  width: 54px;
  height: 48px;
  padding: 3px 0px 3.071px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #FFFFFF;
}
.paymentInstructions__section__wrap__card__header__box__img {
  width: 54px;
  height: 41.929px;
  flex-shrink: 0;
}
.paymentInstructions__section__wrap__card__content {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.paymentInstructions__section__wrap__card hr {
  width: 100%;
  height: 1px;
}
.paymentInstructions__section__wrap--41 {
  justify-content: center;
  column-gap: 41px;
}
.paymentInstructions__section__box {
  display: flex;
  padding: 30px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: #FFFFFF;
}
.paymentInstructions__section__box__left {
  display: flex;
  width: 490px;
  height: 557px;
  background: url("../../img/5badb235e52b6454e85403ef0e2647ec.png") 50%/cover no-repeat;
}
.paymentInstructions__section__box__left__content {
  display: flex;
  width: 249px;
  height: 500px;
  padding: 10px;
  margin: 28px 12px 29px 229px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(37, 37, 37, 0.6);
}
.paymentInstructions__section__box__left__content__box {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background: #FFFFFF;
  color: #1ABD00;
  text-align: center;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.paymentInstructions__section__box__left__content__box i {
  color: #1ABD00;
  text-align: center;
  font-family: Font Awesome 6 Free;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.paymentInstructions__section__box__left__content__box hr {
  width: 100%;
  height: 1px;
}
.paymentInstructions__section__box__left__content__box__text--confirm {
  color: #303030;
  text-align: center;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.paymentInstructions__section__box__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.paymentInstructions__section__box__right__header {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.paymentInstructions__section__box__right__content {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.paymentInstructions__section__box__right__card {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  border: 2px solid #303030;
}
.paymentInstructions__section__box__right__card__img {
  width: 286px;
  height: 176px;
  background: url("../../img/455864d75a3995b49fbba6d9886f9ea1.png") 50%/cover no-repeat;
}
.paymentInstructions__section__box__right__card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.paymentInstructions__section__box__right__card__content__header {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 32px;
  font-style: normal;
  line-height: normal;
}
.paymentInstructions__section__box__right__card__content__text {
  color: #303030;
  font-family: "fw-400";
  font-size: 24px;
  font-style: normal;
  line-height: 32px; /* 133.333% */
}
.paymentInstructions__section__box__right__QRcode {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 40px;
  border-radius: 15px;
  border: 2px solid #303030;
}
.paymentInstructions__section__box__right__QRcode__img {
  width: 179px;
  height: 176px;
  background: url("../../img/cf1dd7348d0164779443d2c2a8925687.png") lightgray 1.902px 0.948px/97.82% 98.922% no-repeat;
}
.paymentInstructions__section__group {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: #FFFFFF;
}
.paymentInstructions__section__group__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.paymentInstructions__section__group__content__header {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.paymentInstructions__section__group__content__content {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
}
.paymentInstructions__section__group__content__content b {
  color: #303030;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: 28px; /* 155.556% */
}
.paymentInstructions__section__group__img {
  width: 259px;
  height: 259px;
  background: url("../../img/a137739c9232eb6715ebeda9664c0131.png") lightgray 50%/cover no-repeat;
}
@media (max-width: 411px) {
  .paymentInstructions__section__wrap {
    flex-direction: column;
    gap: 20px;
  }
  .paymentInstructions__section__wrap__card {
    width: 100%;
  }
  .paymentInstructions__section__box {
    flex-direction: column;
    gap: 0;
  }
  .paymentInstructions__section__box__left {
    width: 100%;
    background: none;
    justify-content: center;
  }
  .paymentInstructions__section__box__left__content {
    margin: 0;
  }
  .paymentInstructions__section__box__right {
    width: 100%;
    align-items: center;
  }
  .paymentInstructions__section__box__right__card {
    flex-direction: column;
  }
  .paymentInstructions__section__group {
    flex-direction: column;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .paymentInstructions__section__wrap {
    flex-direction: column;
    gap: 20px;
  }
  .paymentInstructions__section__wrap__card {
    width: 100%;
  }
  .paymentInstructions__section__box {
    flex-direction: column;
    gap: 0;
  }
  .paymentInstructions__section__box__left {
    width: 100%;
    background: none;
    justify-content: center;
  }
  .paymentInstructions__section__box__left__content {
    margin: 0;
  }
  .paymentInstructions__section__box__right {
    width: 100%;
    align-items: center;
  }
  .paymentInstructions__section__box__right__card {
    flex-direction: column;
  }
  .paymentInstructions__section__group {
    flex-direction: column;
  }
}

.warrantyPolicy__top {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.warrantyPolicy__top--title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.warrantyPolicy__top--text {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.warrantyPolicy__bottom {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.warrantyPolicy__bottom__text {
  align-self: stretch;
  color: #303030;
  font-style: normal;
  line-height: normal;
}
.warrantyPolicy__bottom__text--b28 {
  font-size: 28px;
  font-family: "fw-700";
}
.warrantyPolicy__bottom__text--b24 {
  font-size: 24px;
  font-family: "fw-700";
}
.warrantyPolicy__bottom__text--b18 {
  font-size: 18px;
  font-family: "fw-700";
}
.warrantyPolicy__bottom__text--b16 {
  font-size: 16px;
  font-family: "fw-700";
}
.warrantyPolicy__bottom__text--n18 {
  font-size: 18px;
  font-family: "fw-400";
}
.warrantyPolicy__bottom__text--n14 {
  font-size: 14px;
  font-family: "fw-400";
}
.warrantyPolicy__bottom ul {
  margin-left: 20px;
  padding: 0;
}
.warrantyPolicy__bottom__card {
  display: flex;
  align-items: flex-start;
  align-content: space-between;
  gap: 41px;
}
.warrantyPolicy__bottom__card__item {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.warrantyPolicy__bottom__card__item__header {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.warrantyPolicy__bottom__card__item__header__title {
  flex: 1 0 0;
  color: #162E4D;
}
.warrantyPolicy__bottom__card__item__header__img {
  width: 54px;
  height: 48px;
  fill: #FFFFFF;
}
.warrantyPolicy__bottom__card__item hr {
  width: 100%;
  margin: 0;
  height: 1px;
}
.warrantyPolicy__bottom__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.warrantyPolicy__bottom__contact__card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}
.warrantyPolicy__bottom__contact__card__img {
  height: 232px;
  flex: 1 0 0;
}
@media (max-width: 411px) {
  .warrantyPolicy__bottom__card {
    flex-direction: column;
  }
  .warrantyPolicy__bottom__contact__card {
    display: block;
  }
  .warrantyPolicy__bottom__contact__card__img {
    border: 1px solid #303030;
    margin: 10px 0;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .warrantyPolicy__bottom__card {
    flex-direction: column;
  }
  .warrantyPolicy__bottom__contact__card {
    display: block;
  }
  .warrantyPolicy__bottom__contact__card__img {
    border: 1px solid #303030;
    margin: 10px 0;
  }
}

.footer {
  display: flex;
  margin-top: 30px;
  padding: 60px 40px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: #303030;
}
.footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.footer__left__item {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #FFFFFF;
  font-family: "fw-500";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.footer__left__item i {
  color: #FFFFFF;
  font-family: Font Awesome 6 Free;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer__center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.footer__center__item {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #FFFFFF;
  font-family: "fw-500";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.footer__center__item i {
  color: #FFFFFF;
  font-family: Font Awesome 6 Free;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer__right {
  display: flex;
  height: 207px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  background: url("../../img/fce0b8f070a0595a0b34ce619b9ee747.png") lightgray 50%/cover no-repeat;
}
.footer a {
  color: #FFFFFF;
  text-decoration: none;
}
@media (max-width: 411px) {
  .footer__left {
    gap: 20px;
    font-size: 18px;
  }
  .footer__left__item {
    gap: 20px;
    font-size: 14px;
  }
  .footer__left__item i {
    font-size: 14px;
  }
  .footer__center {
    gap: 20px;
    font-size: 18px;
  }
  .footer__center__item {
    gap: 20px;
    font-size: 14px;
  }
  .footer__center__item i {
    font-size: 14px;
  }
  .footer__right {
    height: 170px;
    width: 100%;
    flex: none;
    background: url("../../img/fce0b8f070a0595a0b34ce619b9ee747.png") lightgray 50%/cover no-repeat;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .footer__left {
    gap: 20px;
    font-size: 18px;
  }
  .footer__left__item {
    gap: 20px;
    font-size: 14px;
  }
  .footer__left__item i {
    font-size: 14px;
  }
  .footer__center {
    gap: 20px;
    font-size: 18px;
  }
  .footer__center__item {
    gap: 20px;
    font-size: 14px;
  }
  .footer__center__item i {
    font-size: 14px;
  }
  .footer__right {
    height: 170px;
    width: 100%;
    flex: none;
    background: url("../../img/fce0b8f070a0595a0b34ce619b9ee747.png") lightgray 50%/cover no-repeat;
  }
}
@media (max-width: 411px) {
  .footer {
    flex-direction: column;
    margin-top: 20px;
    padding: 25px 20px;
    gap: 20px;
  }
}
@media (min-width: 412px) and (max-width: 739px) {
  .footer {
    padding: 60px 20px;
    flex-direction: column;
    gap: 20px;
  }
}
@media (min-width: 740px) and (max-width: 1024px) {
  .footer {
    padding: 40px 25px;
    gap: 20px;
  }
  .footer__left {
    font-size: 20px;
  }
  .footer__left__item {
    font-size: 16px;
    gap: 10px;
  }
  .footer__left__item i {
    font-size: 16px;
  }
  .footer__center {
    font-size: 20px;
  }
  .footer__center__item {
    font-size: 16px;
    gap: 10px;
  }
  .footer__center__item i {
    font-size: 16px;
  }
  .footer__right {
    height: 150px;
  }
}

/*# sourceMappingURL=main.css.map */
