.warrantyPolicy{
  &__top{
    display: flex;
    padding: 0px 40px;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    &--title{
      align-self: stretch;
      color: $black-color;
      font-family: "fw-700";
      font-size: 28px;
      font-style: normal;
      line-height: normal;
    }
    &--text{
      align-self: stretch;
      color: $black-color;
      font-family: "fw-400";
      font-size: 14px;
      font-style: normal;
      line-height: normal;
    }
  }
  &__bottom{
    display: flex;
    padding: 0px 40px;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    &__text{
      align-self: stretch;
      color: $black-color;
      font-style: normal;
      line-height: normal;
      &--b28{
        font-size: 28px;
        font-family: "fw-700";
      }
      &--b24{
        font-size: 24px;
        font-family: "fw-700";
      }
      &--b18{
        font-size: 18px;
        font-family: "fw-700";
      }
      &--b16{
        font-size: 16px;
        font-family: "fw-700";
      }
      &--n18{
        font-size: 18px;
        font-family: "fw-400";
      }
      &--n14{
        font-size: 14px;
        font-family: "fw-400";
      }
    }
    ul{
      margin-left: 20px;
      padding: 0;
    }
    &__card{
      display: flex;
      align-items: flex-start;
      align-content: space-between;
      gap: 41px;
      &__item{
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1 0 0;
        border-radius: 15px;
        background: $white-color;
        box-shadow: $shadow-box;
        &__header{
          display: flex;
          align-items: center;
          gap: 20px;
          align-self: stretch;
          &__title{
            flex: 1 0 0;
            color: $main-color-blue;
          }
          &__img{
            width: 54px;
            height: 48px;
            fill: $white-color;
          }
        }
        hr{
          width: 100%;
          margin: 0;
          height:1px;
        }
      }
    }
    &__contact{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;
      &__card{
        display: flex;
        align-items: flex-start;
        gap: 30px;
        align-self: stretch;
        &__img{
          height: 232px;
          flex: 1 0 0;
        }
      }
    }
  }
  @include media(sm-mobile, mobile) {
    &__bottom {
      &__card {
        flex-direction: column;
      }
      &__contact {
        &__card {
          display: block;
          &__img {
            border: 1px solid $black-color;
            margin: 10px 0;
            width: 100%;
          }
        }
      }
    }
  }
  @include tablet {
    &__top {
      margin-top: 20px;
      padding: 0 20px;
      &--title {
        font-size: 18px;
      }
    }
    &__bottom {
      margin-top: 20px;
      padding: 0 20px;
      &__text {
        &--b28 {
          font-size: 20px;
        }
        &--b24 {
          font-size: 18px;
        }
        &--b18 {
          font-size: 16px;
        }
        &--n18 {
          font-size: 16px;
        }
      }
      ul {
        margin: 0 0 0 20px;
      }
      &__card {
        gap: 25px;
        &__item {
          &__header {
            &__title {

            }
            &__img {
              display: none;
            }
          }
        }
      }
      &__contact {
        &__card {
          flex-wrap: wrap;
          gap: 10px;
          &__img {
            flex: none;
            height: 232px;
            width: 232px;
          }
        }
      }
    }
  }
}