.navbar {
  display: flex;
  margin-top: 30px;
  padding: 20px;
  background: $main-color-blue;
  a {
    color: $white-color;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "fw-700";
    font-size: 18px;
    font-style: normal;
    line-height: normal;
  }
  &__sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  @include media(sm-mobile, mobile) {
    flex-direction: column;
    a:not(.navbar--drop) {
      display: none;
    }
    a {
      font-size: 16px;
    }
  }
  @include sm-mobile {}
  @include mobile {
    margin-top: 20px;
  }
}