.pagination {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background-color: $white-color;
  a {
    padding: 15px 20px;
    background: $main-color-blue;
    color: $white-color;
    font-family: "fw-400";
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }
  @include sm-mobile {
    a {
      padding: 5px 10px;
      font-size: 14px;
    }
  }
}
